/* variables*/
:root {
    --scamp-head-bg: #272727;
    --body-bg: #fff;
    --scond-bg:#f7f7f7;
    --main--bg: #D50900;
    --scamp-second-color: rgba(255, 255, 255, 0.10);
    --scamp-border-color: rgba(251, 251, 251, 0.30);
    --main--font: 'Tajawal';
    --body-color:#212529;
}
*{
    scroll-behavior: smooth;
}
body{overflow-x: hidden;overflow-y: auto;}
a{color:#000}
/* // classes  */

.complete {
    color: #FFB800;
}
.border-b{
    padding: 5px;
    margin: 10px 0px;
    border-bottom: 4px solid var(--main--bg);
    width: fit-content;
}
@media (max-width:500px) {
    .border-b{font-size: 1.2rem !important;}
}
.text-adjust {
    font-size: 15px;
    line-height: 1.5;
}
.author_name {
    font-size: 0.8rem !important;
    color: grey;
}
.tradingbtn {
    background: var(--main--bg);
    height: 45px;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1rem;
}
.scapm-page-content{
    width: 75%;
    margin: 0 auto;
}

@media (max-width:991px) {
    .scapm-page-content{
        width: 100%;
    }
}
@media (max-width:575.98px) {
    .scapm-page-content{
        width: 100%;
    }
}

.articaldetail-breadcum ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    direction: rtl;
    margin: 20px 3px;
}
.articaldetail-breadcum ul li {
    font-size: 1rem;
}
/* ///========breadcum section ==== */
.articaldetail-breadcum {
    padding-right: 10px;
}
.articaldetail-breadcum ul li a::after {
    display: inline-block;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}
@media (max-width: 575.98px){
.articaldetail-breadcum ul li {
    font-size: 0.6rem;
}}
/* // scamp company Header // */

.company-state header {
    background-color: var(--scamp-head-bg);
    padding: 30px 10px;
}

.company-state header .logo .state {
    width: 90px;
    position: absolute;
    left: -15px;
    top: 10px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-23.632deg);
    padding: 15px;
    flex-direction: column;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: var(--main--bg);
    -webkit-transform: rotate(-23.632deg);
    -moz-transform: rotate(-23.632deg);
    -ms-transform: rotate(-23.632deg);
    -o-transform: rotate(-23.632deg);
}

.company-state header .logo {
    background-color: var(--body-bg);
    background-color: var(--body-bg);
    width: 232px;
    height: 140px;
    padding: 45px 27.333px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.company-state header .logo img {
    width: 200px;
    height: 50px;
}

.company-state header .company_info h6 {
    font-size: 28px;
    font-weight: 600;
    color: var(--body-bg)
}

.company-state header .company_info {
    margin-right: 20px;
}

.company-state header .company_info p {
    background-color: var(--scamp-second-color);
    border: 1px solid var(--scamp-border-color);
    padding: 5px 20px;
    height: 36px;
    width: 190px;
        font-size: 16px;
    color: var(--body-bg);
}

.company-state header .company_info p.date {
    width: 154px;
}

.company-state header .company_info p.cmp-link {
    width: 345px;
}

.company-state header .comp_rating {
    background: var(--scamp-second-color);
    display: flex;
    width: 260px;
    height: 165px;
    font-family: var(--main--font);
    color: var(--body-bg);
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.company-state header .comp_rating .rate-number {
    font-size: 30px;
}

.company-state header .comp_rating .rate-number span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.company-state header .comp_rating .starts {
    margin-top: 7px;
    font-size: 16px;
}

.company-state header .header-action .btn-h-1 {
    background: var(--main--bg);
    color: var(--body-bg);
    padding: 10px;
    font-weight: 700;
    width: 234px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-left: 20px;
    font-size: 1rem;
}
.company-state header .company_info p.cmp-link {
    width: 330px;
    font-size: 14px;
}
.company-state header .company_info p.date {
    width: 137px;
    font-size: 14px;
}
.company-state header .company_info p.cmp-link {
    width: 330px;
}
.company-state header .header-action {
    margin-top: -18px;
}

.company-state header .header-action .btn-h-1:hover {
    background: #9a0a02;
    color: #fff;
}

.company-state header .header-action .btn-h-2 {
    color: var(--body-bg);
    padding: 10px;
    background: rgb(22, 73, 124);
    font-weight: 700;
    width: 200px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 1rem;
}

.company-state header .header-action .btn-h-2:hover {
    background: rgb(16, 58, 100);    
}

/* //===== responsive Area ========//   */
@media (min-width:1200px) and (max-width:1399px) {
    .company-state header {
        padding: 20px 10px;
    }
    .company-state header .logo {
        width: 212px ;
            height: 130px;
    }

    .company-state header .logo img {
        width: 180px;
        height: 50px;
    }
    .company-state header .company_info p.cmp-link {
        width: 330px;
    }
    .company-state header .company_info p {
 font-size: 14px;
        width: 178px;
}
.company-state header .company_info p.date {
    width: 137px;
    font-size: 14px;
}
    .company-state header .comp_rating {
        width: 185px;
        height: 139px;
    }

    .company-state header .comp_rating .starts {
      font-size: 14px;
    }

    .company-state header .header-action .btn-h-1 {
       width: 210px;
       font-size: 1rem;
    }

    .company-state header .header-action .btn-h-2 {
        font-size: 1rem;

    }
    .company-state header .header-action {
        margin-top: -8px;
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .company-state header {
        padding: 20px 10px;
    }
    .company-state header .logo {
        width: 140px;
        height: 121px;
    }
    .company-state header .logo .state {font-size: 13px;padding: 13px;}
    .company-state header .logo img {
        width: 115px;
        height: 50px;
    }
    .company-state header .company_info p.cmp-link {
        width: 311px;
    }
    .company-state header .company_info p {
        font-size: 0.78rem;
        width: 163px;
        height: 33px;
}
.company-state header .company_info p.date {
    width: 132px;
font-size: 0.78rem;
}
    .company-state header .comp_rating {
        width: 155px;
    height: 139px;
    }

    .company-state header .comp_rating .starts {
      font-size: 14px;
    }

    .company-state header .header-action .btn-h-1 {
        width: 143px;
        font-size: 0.9rem;
    }

    .company-state header .header-action .btn-h-2 {
        width: 147px;
        font-size: 0.9rem;
    }
    .company-state header .header-action {
        margin-top: -8px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .company-state header .logo {
        width: 150px;
        height: 128px;
    }

    .company-state header .logo img {
        width: 120px;
        height: 40px;
    }

    .company_info {
        margin-right: 25px;
    }

    .company-state header .company_info p {
        padding: 5px;
        height: 33px;
        width: 158px;
    }

    .company-state header .company_info p.date {
        width: 113px;
    }

    .company-state header .company_info p.cmp-link {
        width: 252px;
    }

    .company-state header .comp_rating {
        padding: 0;
        width: 165px;
        height: 130px;
    }

    .company-state header .comp_rating .starts {
        font-size: 14px;
    }
    .company-state header .header-action {
        margin-top: -8px;
    }
    .company-state header .header-action .btn-h-1 {
        font-size: 1rem;
        width: 153px;
    }

    .company-state header .header-action .btn-h-2 {
        width: 150px;
        font-size: 1rem;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .company-state header .logo {
        width: 157px;
        height: 128px;
    }

    .company-state header .logo img {
        width: 120px;
        height: 40px;
    }

    .company_info {
        margin-right: 25px;
    }

    .company-state header .company_info p {
        padding: 5px;
        height: 30px;
        width: 167px;
        font-size: 13px;
    }

    .company-state header .company_info p.date {
        width: 118px;
        font-size: 13px;
    }

    .company-state header .company_info p.cmp-link {
        width: 285px;
    }

    .company-state header .comp_rating {
        padding: 0;
        width: 160px;
        height: 110px;
    }

    .company-state header .comp_rating .starts {
        font-size: 14px;
    }
    .company-state header .header-action {
        margin-top: -105px;
        flex-direction: column;
        margin-right: 174px;
    }
    .company-state header .header-action .btn-h-1 {
        font-size: 0.8rem;
        width: 184px;
        margin-bottom: 20px;
    }

    .company-state header .header-action .btn-h-2 {
        width: 184px;
        font-size: 0.8rem;
    }
}

@media (min-width:576px) and (max-width:766px) {
    .company-state header .company_info p {
    width: 145px;
    font-size: 12px;
    }  
    .company-state header .company_info p.date {
        width:120px
        ;
         font-size: 12px;
        }
        
}
@media(min-width:300px) and (max-width:575px) {

    .company-state header {
        padding: 10px 0;
    }

    .company-state header .logo {
        width: 30%;
        height: 90px;
        margin: 5px auto 0px;
    }

    .company-state header .logo .state {
        width: 53px;
        font-size: 11px;
        left: -6px;
        height: 18px;
        padding: 5px;
        top: 8px;
        border-radius: 1px;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
}


    .company-state header .logo img {
        width: 88px;
    height: 15px;
    }

    .company-state header .company_info  h6{font-size: 18px;}
    .company-state header .company_info p {
        padding: 5px;
    height: 28px;
    font-size: 0.63rem;
    width: 58%;
    }
.company-state header .company_info {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 68%;
}
    .company-state header .company_info p.date {
        width: 40%;
         font-size: 0.69rem;
        }
        .company-state header .company_info p.date img{
            width: 15px;
           height: 15px;
           margin-left: 4px !important;
            }
    .company-state header .comp_rating {
     margin: 0 auto;
     font-size: 14px;
    width: 100%;
    height: 75px;
    margin-top: -11px;
    font-size: 14px;
    padding: 5px;
    }

    .company-state header .comp_rating .rate-number {
        font-size: 1.23rem;
        margin-top: 0px;
    }
    .company-state header .comp_rating .starts {
        font-size: 13px;
        margin-top: -2px;
    }
    .company-state header .header-action {
        margin-top: 9px;
        justify-content: space-between !important;
    }
    .company-state header .header-action .btn-h-1 {
        width: 53%;
    font-size: 0.85rem;
    margin-left: 10px;
    }

    .company-state header .header-action .btn-h-2 {
        width: 130px;
        font-size: 0.85rem;
        width: 45%;
    }

    .company-state header .company_info p.cmp-link {
        width: 100%;
        margin-top: -10px;
        font-size: 0.8rem;
    
    }
}

@media (max-width:369px) {
    .company-state header .company_info  p img{   width: 15px;height: 15px;margin: 0 !important;}
    .company-state header .company_info  p{font-size: 0.56rem;}
        .company-state header .company_info p.cmp-link img,
         .company-state header .company_info p.date img { display: none;}

}
/* // scamp warning  Section (التحذيرات) */
.scamp-warning .content {
    background-color: #daabab;
    border-right: 8px solid #832b2b;
    border-left: 2px solid #832b2b;
    border-top: 1px solid #e2d2d2;
    border-bottom: 1px solid #e2d2d2;
}

.scamp-warning .content .user,
.scamp-warning .content .date {
    font-size: 0.8rem;
    color: #856D6D;
}

.scamp-warning .content .user a {
    color: #000
}

.scamp-warning .content .user a:hover {
    color: rgb(46, 46, 111)
}

.scamp-warning .content h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
}

.scamp-warning p {
    line-height: 240%;
    font-size: 16px;
    text-align: justify;
}

@media (max-width:500px) {
    .scamp-warning .scamp-waring-img img {
        height: 210px;
    }

}

 /* ==scam company definition (تعريف الشركة ) ===== */

 .scam-company-def h3{
    font-size: 1.55rem;
    font-weight: 700;
    
 }
 
 .scam-company-def .def-text{
    font-weight: 400;
 }
 .scam-company-def .def-text p{
  font-size: 1.1rem;
text-align: justify !important;
word-spacing: normal !important;
line-height: 1.8;
color:var(--body-color);
 }


 @media (max-width:500px) {
    .scam-company-def h3{
        font-size: 1.2rem;
    }
 }


 /* ======= scam question section (الاسئلة ) =========== */
.scam-question h3{font-size: 1.55rem; font-weight: 700;}
  .accordion-button:lang(ar)::after {
    margin-left: 0px !important;
    margin-right: auto !important;
}
.accordion-header {
    color: #000000;
}  

.accordion-button {
    border-bottom: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-button {
    color: #000000;
    text-align: right;
}

.accordion-button.collapsed {
    background-color: #fff;
    color:#000;
    font-size: 16px;
}

 .collapsed:lang(ar) {
    margin-right: 0px !important;
}
.accordion-button:not(.collapsed) {
    color:var(--main--bg);
    background-color: #fff;

}

/* comment Rating section ========= */
.scam_commentRate_section p{margin-bottom: 0 !important;}
.scam_commentRate_section .content {background-color: #f7f7f7;}
/* //=========rating form  Section ================// */
.star-source {
    width: 0;
    height: 0;
    visibility: hidden;
}
input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
}
.star {
    color: transparent;
    transition: color 0.2s ease-in-out;
}

svg {
    width: 2rem;
    height: 2rem;
    padding: 0.15rem;
}
input[name="star"]:checked+label .star {
    animation: starred 0.5s;
}
label:hover~label .star, svg.star:hover, input[name="star"]:focus~label .star, input[name="star"]:checked~label .star {
    color: gold;
}
.star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding-bottom: 10px;
}

/* /*=================== reliable Conpany section   جزء الخاص بالشركات الموثوقة == */

.reliabled_company .company-state header {
    margin-top: -7px;
    background-color: #0D8944;

}
.reliabled_company .company-state header .company_info p {
    border: 1px solid #7CBB98;
background: #249D5A;
}
.reliabled_company .company-state header .comp_rating {
    background: #249D5A;
}

.reliabled_company .company-state header .logo .state {
    background: #249D5A;
    color:#fff;
    flex-direction: row;
    font-size: 12px;
}
.reliabled_company .company-state header .logo .state img{width: 35px;height: 20px;}

@media (max-width:600px) {
    .reliabled_company .company-state header .logo .state {
        background: #249D5A;
        color: #fff;
        flex-direction: row;
        font-size: 12px;
        padding: 12px;
        width: 65px;
    }
    
}

/* //===============table company section =======// */
.tradingplatform1:lang(ar) {
    direction: rtl;
    text-align: end;
    padding: 5px 0px;
    font-size: 14px;
}
.tradingplatform1 {
    font-size: 14px;
}
 

/* /// waring section ==== */
.reliabled_company .scamp-warning .content {
    background-color: #D6F4E3;
    border-right: 8px solid #0E9347;
    border-left: 2px solid #0E9347;
    border-top: 1px solid #1E2521;
    border-bottom: 1px solid #1E2521;
}