 
 /* ===== Variables ===== */
:root{
    --man--bg:#D50900;
    --body--bg:#FBFBFB;
    }
 /* Global setting 
  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
a{
    text-decoration: none;
    color:#fff;
}
button,button:hover{
    background-color: var(--man--bg);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}
body,html{
    direction: rtl !important;
    overflow-x: hidden;
    font-family: cairo;
}
body{
    background-color: var(--body--bg);
}
/* scroll Area  */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  button{ border-radius:0 !important ; -webkit-border-radius:0 !important ; -moz-border-radius:0 !important ; -ms-border-radius:0 !important ; -o-border-radius:0 !important ; }
/* =========== Classes ============== */
.seconnd-btn{
display: flex !important;
font-size: 20px;
font-weight: bold;
width: 150px;
height: 50px;
justify-content: center;
padding: 15px 0;
align-items: center;
margin-right: 15px;
}
 /* notficaton classes  */
 .not-header {
    display: flex;
    justify-content: space-between;
   }
.not-header div{
font-size: 14px;
color: #FFF;
font-weight: 700;
text-align: right;
   }
   .not-header div img{
    margin-top: -5px;
   }
 .not-header div span{
font-size: 10px;
color: #FF908C;
font-weight: 500;
   }

   .not-header img{
    width: 65.8px;
height: 14px;
   }
 .rating{
    margin-top: -7px;
    margin-right: 25px;
   }

.rating i{font-size: 10px;}
  .rating i.complete{
    color:#FFB800;
   }
   .location{font-size: 8px;}
   .body{
    width: 204px;
    color: rgba(255, 255, 255, 0.60);
font-size: 8px;
font-weight: 400;
   }
 .date{
    font-size: 8px;
    font-weight: 700;
   }
    /* classe header of each section  */
 .header-section h3{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 7px;
   }
   .header-section h3::after{
    content: "";
    margin-top: 10px;
    height: 5px;
    display: block;
    background-color: var(--man--bg);

}
.header-section span{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
   }
/* ======================== */
/* === top header Area ===== */
.top-header{background-color: var(--man--bg);
    overflow: hidden;
    height: 35px;
padding: 5px 0;
   
}
.top-header .container{
    display: flex;
align-items: center;

}
.top-header .container ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-header  .container li{
    margin-left: 40px;
}
.top-header li a{
    text-align: center;
font-family: Tajawal;
font-size: 14px;
font-weight: 700;
}

 /* ============ main Header Area ======== */
 .main-header{
    padding: 25px; 
    height: 85px;
    font-family: cairo;
 }
 .main-header .links li{
    margin-top: 7px;
    font-weight: bold;
    font-size: 18px;
 }
 .main-header .links ul{
    display: flex;
    height: 30px;
    align-items: center;
 }
 .main-header .links li:first-of-type{
    margin-right: 0;
 }
 .main-header .links li{
    margin-right: 20px;
 }
 .main-header .links li a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
 .main-header .links li a:hover , .main-header .links li a:active{
     display: block;
     color: var(--man--bg);
     transform: scale(1.1);
}
 .main-header .bar .fa-bars:before,  .main-header .bar  .fa-navicon:before {
    margin-top: 14px;
    content: "\f0c9";
    display: block;
    font-size: 20px;
    cursor: pointer;
}
.main-header .main-btn{background-color: var(--man--bg);color:#fff}
/* main header in responsive area  */
@media screen and (max-width: 1220px) {
   .seconnd-btn{
    font-size: 15px; 
    display: block;   
    padding: 10px 30px !important;
   }
  }
  .main-header  button{ margin-top: -5px; border-radius:0 !important ; -webkit-border-radius:0 !important ; -moz-border-radius:0 !important ; -ms-border-radius:0 !important ; -o-border-radius:0 !important ; } 
 /* // side nav  */

 .modal-dialog{
    padding: 0;
    border-radius: 0;
    border:none;
    outline: none;
    margin: 0;
    overflow: hidden;
    height: 844px;
    height: 100vh;
    width: 110% !important;
    background: #FBFBFB;
    box-shadow: 0px 4px 54px 30px rgba(0, 0, 0, 0.25);
}
.modal-content{
    border-radius: 0;
    border:none;
}
 .modal-dialog a{
    color:#000
 }

.modal-header{
    border:none;
    margin-top: 20px;
    margin-bottom: -20px;

}
.modal-body{
    margin-top: 20px;
    padding: 0 24px;
    font-size: 14px;
}
.modal-body .model-line{
margin:  0 0;
padding: 0 24px;
margin-top: 20px;
font-size: 18px;
font-weight: 700;
padding-bottom: 15px;
border-bottom:1px solid #D6D4D4;

}
.modal-body .other_links{
    margin-top: 50px;
    font-size: 20px;
font-weight: 600;
    width: 390px;
    padding: 0 24px;
height: 158px;

}
.modal-body .services{
    font-weight: 600;
line-height: 120%;
margin-top: 80px;
padding: 0 24px;
font-size: 14px;
}
.modal-body .services .box-service {margin-right: 10px;}
button.btn-close{
    display: block;
    padding: 15px;
    margin-right: 150px !important;
    font-size: 18px;
}
.modal-body .footer{
    font-size: 14px;
    margin-top: 75px;
font-weight: 600;
margin-bottom: 20px;
}

/* ////// === company Description Area  */
.company_desc{
    padding: 5px;
    height: 550px;
    background: url("../assets/images/BG.png"), lightgray 0px 0px / 100% 100% no-repeat ;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .company_desc{
        height: 510px;
    }
}

.company_desc .title{
    margin-top: 88px;
    height: 174px;

}
.company_desc .title h1{
font-size: 40px;
font-weight: 700;
line-height: 163%;
}
.company_desc .title h3{
font-family: Cairo;
font-size: 24px;
font-weight: 400;
line-height: 163%;
}

/* main header in responsive area  */
@media screen and (max-width: 1220px) {
    .company_desc .title h1{
        font-size: 30px;
        font-weight: 700;
margin-bottom: 30px;
        }
   }
   @media screen and (max-width: 576px) {
    .company_desc .title{
        margin-top:79px;
    }
    .company_desc .title h1{
        font-size: 30px;
        font-weight: 700;
        width: 344px;
        }
   }

.company_desc .search{ display: flex; width: 632px;
     height: 55px; padding: 6px 18px 6px 7px; 
     justify-content: space-between; align-items: center;
      border: 1px solid #FFF; 
}
   .company_desc .search input{
    background-color: transparent;
    border:none;
    outline: none;
   font-size: 18px;
    box-shadow: none;
    color:#fff !important;
   }
 .company_desc .search input::placeholder {
    color:#fff !important;
    font-weight: bold;
    
 }
   .company_desc  .search input:focus{
    border: none;
    box-shadow: none;
   }

   .company_desc .search .btn-seach{
   display: flex;
   width: 105px;
   height: 43px;
   padding: 15px 26px;
   justify-content: center;
   align-items: center;
   border-radius: 0;
   gap: 10px;
   font-size: 20px;
   font-weight: 700;
   background: var(--man--bg);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}
   .company_desc .search i{
    font-size: 20px;
    margin-left: 20px;
    width: 18px;
    height: 18px;
   }

   @media screen and (max-width: 768px) {
    .company_desc .search{
width: 330px;
height: 46px;
    }

    .company_desc .search .btn-seach{height: 36px;}
   }

    .user-notfication{
        position: fixed;
       left: 100px;
       bottom: 50px;
       padding: 8px 14px 12px 14px;
       z-index: 999;
     height: 80px; width: 312px; 
     background: #0E122E;
box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.50);
 
}
  .user-notfication .img{
    width: 66px;
height: 66px;

   }
 
 
   .user-notfication .fa-close:before, .fa-multiply:before, .fa-remove:before,
    .fa-times:before, .fa-xmark:before 
        {
    position: absolute;
    top: 35px;
    cursor: pointer;
    font-size: 17px;
    left:10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
    color:var(--man--bg);
}

@media screen and (max-width: 500px) {
    .user-notfication{
        left:40px;
    }
}
   /* ///====== waring Area ////// */

   .last-warning .services{
    gap: 16px;
    margin-top: -130px;
}
.last-warning .services .box-service{
width: 322px;
padding: 36px 20px;
box-shadow: 0px 4px 7px 0px rgba(239, 219, 219, 0.5);
gap: 22px;
}
 .services .box-service .icon{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  border-radius : 50%;
    border: 2px solid #D50900;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 50px;
    padding: 10px;
}
   .services .box-service h5{
    font-size: 16px;
font-weight: 700;
   }
   .services .box-service p{font-size: 14px;
        font-weight: 300;
    line-height: 120%; /* 16.8px */
}

   /* // warning list section   */
   .warning-list {
    margin-bottom: 100px;
   }
   .warning-list .row{gap: 40px;}

   .warning-list .warning-content .box{
    padding:  10px 16px 0 !important;
    width: 385px;
    margin-top: 10px;

}
   @media (min-width:429px) and (max-width: 986px) {
    .warning-list .warning-content .box{ 
    margin: 15px auto !important;
    box-shadow: 0px 4px 7px 0px rgba(239, 219, 219, 0.5); 
}
   }
   @media screen and (max-width: 430px) {
    .last-warning .services{
        margin-top: 10px !important;
    }
   .warning-list .warning-content .box {
    background: #F80412;
width: 330px;
   }
   .warning-list .warning-content .box .status {
    margin-right: 254px !important;
   }
   }
   .warning-list .warning-content .box .status{
    height: 20px;
    width: 64px;
    transform: rotate(-24.571deg);
    padding: 5px 10px;
    margin-right: 309px;
    margin-top: -1px;
    font-size: 12px;
    color:#fff;
    -webkit-transform: rotate(-24.571deg);
    -moz-transform: rotate(-24.571deg);
    -ms-transform: rotate(-24.571deg);
    -o-transform: rotate(-24.571deg);
}
.warning-list .warning-content .box1  .status{    background: #FFB800;}
.warning-list .warning-content .box2 .status{    background: #F27A23;}
.warning-list .warning-content .box3 .status{  background: #F80412;}

   .warning-content .box-head .img{
    display: flex;
    width: 55px;
    height: 55px;
    padding: 8px 7px 7px 8px;
    justify-content: center;
    align-items: center;
    background: rgba(237, 237, 237, 0.50);
}

   .warning-content .box-head .icon{
    gap: 13px;
    font-weight: 700;
font-size: 20px;
   }
   .warning-content .box-head .icon i{
color:#FFB800
   }
  .method {
    margin-top: 16px;
   }

.method h6{
    color: #595959;
font-size: 14px;
font-weight: 500;
   }
.method span{
text-align: right;
font-size: 18px;
font-weight: 400;
text-transform: capitalize;
margin-right: 7px;
   }
    .line{
    width: 1px;
    display: inline-block;
   background-color: #000;
height: 7px;
 } 
 .warning-content .method  .number img {
    display: inline-block;
    margin-left: -10px;
 }
 .warning-content .method a{
    color:var(--man--bg);
font-size: 13px;
font-weight: 700;
 }
 .warning-content .method a{
    display: block; width: 50%;
    flex-shrink: 0;
}
.warning-content .method.action{
    margin: 0;
    margin-top: 25px;
}
 .warning-content .method button.warn-btn{
    display: flex;
    height: 43px;
    padding: 18px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    flex-shrink: 0;
    font-size: 14px;
 background-color: var(--man--bg);
 }


 /* ////  ============Statistics ====== */
 .Statistics{
padding: 28px 92px 38px 92px;
background-color: var(--man--bg);
 }
 .Statistics .St-box.first{
    margin-top: 15px;
 }
 .Statistics .St-box{
     width: 200px;
     height: 90px;
     padding: 14px;
     margin-top: 15px;
     background-color: #fff;

}
 @media screen and (max-width: 768px) {
    .Statistics .St-box.first{
    width: 190px !important;
height: 80px;
padding: 14px;
    }
    .Statistics .St-box{
        width: 140px;
        height: 85px;
        font-size: 13px;
        padding: 12px 5px;
    }
    .Statistics .St-box h5{font-size: 11px;}
    .Statistics .St-box svg{
        width: 18px !important;
        height: 18px !important;
    }

 }
 .Statistics .St-box h5{
    color: var(--man--bg);
    font-size: 20px;
    font-weight: 700;
 }
 .Statistics .St-box .icon{
    font-size: 14px;
font-weight: 700;
 }
 @media screen and (max-width: 488px) {
    .Statistics .St-box {
        width: 190px ;
        margin: 10px auto;
    }
 }
 /* ///// ==== comments section Area == */
 .comments .row {
    gap: 8px;
 }
.comments .user{
    display: flex;
    width: 410px;
    height: 106px;
    padding: 8px 14px 12px 14px;
    align-items: center;
    gap: 9px;
    background-color: #fff;

}
.comments .user_logo{
    height: 78px;
padding: 27px 8px 29px 8px;
background: #D80027;
font-size: 32px;
font-weight: 400
}
.comments .user .body{font-size: 10px;}
.comments .header span {cursor: pointer;}
.comments .header img{width: 47px;
    height: 10px;}
.comments .user .location i{font-size: 10px;}
.comments .user .rating{margin-right: 40px;}
@media (min-width:368px) and (max-width: 420px) {
    .comments .user{width: 346px;}
    .comments .user_logo{
font-size: 24px;
font-weight: 400;
height: 77px;
padding: 0px 12px;
    }
    .comments .user .not-header div{
        font-size: 14px;
    }
    .comments .not-header img{width: 47px;
        height: 10px;}
    .comments .user .rating{margin-right: 15px;}

}

@media screen and (max-width:367px){
    .comments .user_logo{
        font-size: 20px;
        font-weight: 400;
        height: 70px;
        padding: 0px 10px;
            }
            .comments .user .not-header div {font-size: 14px !important;}
            .comments .user .not-header img{
                width: 30px;
                height: 10px;
            }
}
.comments .user .not-header div{
    color:#000;
    font-size: 16px;
}

/* //////======== instruction section ======= */
.instruction{
    padding-top: 100px;
}
.instruction .row{
    gap: 80px;
}
.instruction h5{
width: 400px;
margin-top: 50px;
color: #000;
font-size: 24px;
font-weight: 700;
line-height: 169%; /* 40.56px */
}

.instruction p{
    margin-top: 20px;
    width: 500px;
font-size: 18px;
font-weight: 500;
line-height: 227%; /* 40.86px */
}

.instruction img{
    height: 440px;
    width: 600px;
}
.instruction button{
    background-color:var(--man--bg);
    color:#fff;
    display: flex;
    width: 316px;
    height: 54px;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    display: block;

}
.instruction button:hover{background-color: var(--man--bg); color:#fff}

@media screen and (max-width: 990px) {
    .instruction{
        padding-top: 30px;
        margin: 0 auto !important;

    }
    .instruction .desc {
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .instruction .img{    
        display: flex;
        flex-direction: column;
       align-items: center;
    
      }
    .instruction img{
        width: 346px;
        height: 264px;
    }
    .instruction h5{
        align-items: center;
        width: 340px;
        font-size: 20px;
        margin-top: 15px;
    }
    .instruction p{
display: flex;
width: 344px;
height: 93px;
justify-content: start;
font-size: 14px;
margin-top: 10px;
    }
    .instruction button{
        display: block;
        margin-top: 30px;
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .instruction{
        padding-top: 30px;
    }
    .instruction img{
        width: 340px;
    height: 250px;
    }
    .instruction h5{
        align-items: center;
        width: 310px;
        font-size: 17px;
        margin-top: 15px;
    }
    .instruction p{
        margin-top: 10px;
        font-size: 18px;
        width: 360px !important;
height: 114px;
font-size: 14px;
    }
 
    .instruction button{
        display: block;
        margin-top: 20px;
    }
}

/* //========= Trusted_companies section ===== */
.Trusted_companies .box{
     
    padding:20px 10px;
     padding-right: 15px;
     margin-top:  20px;
     border-right:4px solid  #13C636 ;
     box-shadow: 0px 4px 37px 0px rgba(242, 242, 242, 0.10);
     width: 100%;
}
.Trusted_companies .box .brand{
    margin-right: 30px;
    margin-left: 20px;
}
.Trusted_companies i.complete{color:#FFB800}
.Trusted_companies .box .list-methods{
    width: 750px !important;
align-items: flex-end;
}
.Trusted_companies .box .list-methods h6{
    color: #A3A3A3;
font-size: 18px;
    font-weight: 500;
}
.Trusted_companies .box .list-methods span{
    font-size: 24px;
font-weight: 400;
}
.Trusted_companies .box .licenses,.Trusted_companies .box .licenses span{
    font-size: 20px;
    font-weight: 400;
}
.Trusted_companies .box .licenses .line{height: 14px; margin-left: 5px;margin-right: 5px;}
.Trusted_companies .box .action {
    margin-right: 60px;
    margin-bottom: -20px;
}
.Trusted_companies .box .action button{
    background-color: var(--man--bg);
    color: #FFF;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 173px;
    height: 41px;
    padding: 0px 50px 0px 49px;
    justify-content: center;
    align-items: center;
}
.Trusted_companies .box .action a{
    color:var(--man--bg);
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--man--bg);
    font-size: 12px;
  margin: 0 auto;
  width: 113px;

}
.Trusted_companies .box img{
    width: 152px;
    height: 82px;
margin-left: 28px;
}
.Trusted_companies .box span{font-size: 14px;}
@media screen and (max-width: 766px) {
    .Trusted_companies .box {
        width: 346px;
        margin: 10px auto;
    }
    .Trusted_companies .box .brand{
        margin-bottom: 10px;
    }
    .Trusted_companies .box .licenses{
        margin-bottom: 15px;
    }
    .Trusted_companies .box .licenses,.Trusted_companies .box .licenses span{
        font-size: 16px;
        font-weight: 400;
    }

    .Trusted_companies .box .list-methods h6{
    font-size: 12px;
    }
    .Trusted_companies .box .list-methods span{
        font-size:18px;
    font-weight: 400;
    }
    .Trusted_companies .box .action {
        margin-right: 10px;
        margin-top: 10px;
    }
    .Trusted_companies .box .list-methods{
        width: 100% !important;
    align-items: flex-end;
    gap:10px;
    flex-wrap: wrap;
    }
   .Trusted_companies .box img{
    margin-bottom: 10px;
    width: 149px;
    height: 50px;
margin-left: 28px;
}
.Trusted_companies .box .action button{
    width: 131px;
    height: 36px;
    padding: 12px 29px 13px 28px;
    margin-right: 40px;
    font-size: 16px;
}
       .Trusted_companies .box .action a{
        margin-top: 10px;
        display: flex;
height: 20px;
padding-top: 3px;
width: 127px;
flex-direction: column;
justify-content: center;
font-size: 14px;
align-items: flex-start;
       }
    }
@media (min-width:767px) and  (max-width: 990px) {
    .Trusted_companies .box {
        margin: 10px auto;
    }
    .Trusted_companies .box .brand{
        margin-bottom: 10px;
    }
    .Trusted_companies .box .licenses,.Trusted_companies .box .licenses span{
        font-size: 16px;
        font-weight: 400;
    }
    .Trusted_companies .box .list-methods h6{
    font-size: 13px;
    }
    .Trusted_companies .box .list-methods span{
        font-size:18px;
    font-weight: 400;
    }
    .Trusted_companies .box .action {
        margin-right: 10px;
        margin-top: 30px;
    }
    .Trusted_companies .box .list-methods{
        width: 100% !important;
    align-items: flex-end;
    gap:40px;
    }
   .Trusted_companies .box img{
    margin-bottom: 10px;
    width: 155px;
    height: 50px;
margin-left: 28px;
margin-bottom: 10px;
}
.Trusted_companies .box .action button{
    width: 131px;
    height: 36px;
    padding: 12px 29px 13px 28px;
}
       .Trusted_companies .box .action a{
        margin-top: 10px;
        display: flex;
height: 20px;
padding-top: 3px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
       }
    }
@media (min-width:991px) and  (max-width: 1200px) {
    .Trusted_companies .box {
        margin: 10px auto;
    }
    .Trusted_companies .box .brand{
        margin-right: 10px;
        margin-left: 10px;
    }
    .Trusted_companies .box .action {
        margin-right: 10px;
    }
    .Trusted_companies .box .list-methods{
        width: 100% !important;
    align-items: flex-end;
    gap:20px;
    }
   
    }
    @media (min-width:1201px) and  (max-width: 1399px) {
        .Trusted_companies .box .brand{
            margin-right: 15px;
            margin-left: 15px;
        }
        .Trusted_companies .box .action {
            margin-right: 30px;
        }
        .Trusted_companies .box .list-methods{
            width: 650px !important;
        align-items: flex-end;
        gap:20px;
        }
       
        }
    
        @media screen and (max-width: 500px) {
            .header-section h3{
                font-size: 14px;
            }
        }
        /* /// Conpanyies articles  section ======  */
  .comp_articles .main{
 width: 304px !important;
 background: #fff;
 margin-top: 10px;
 padding-bottom: 10px;

}
  .comp_articles .main img{
    height: 190px;
    display: block;
    width: 100%;
}
.comp_articles .user_info{margin-top: 10px; margin-left: 5px; margin-right: 5px;}
.comp_articles .user_info h6{
    font-size: 13px;
    font-weight: 700;
}
.comp_articles .user_info h6 span{ display: flex; width: 30px; 
    font-size: 14px;
font-weight: 600;
text-transform: uppercase;
    height: 30px; background: #A4E3FF;justify-content: center;
     padding: 10px 0px; align-items: center;
}
.comp_articles .user_info span.date{
    font-family: Tajawal;
    font-size: 14px;
    font-weight: 500;
}

.comp_articles .main h4{
    font-size: 16px;
font-weight: 700;
width: 202px;
}
.comp_articles .main p{
    width: 251px;
    height: 46px;
    font-size: 12px;
    font-weight: 400;
    line-height: 167.5%; /* 16.75px */
    
}
.comp_articles .main p span{ color:var(--man--bg)}

@media screen and (max-width: 768px) {
    .comp_articles .main{
        margin: 20px auto;
    }
}

/* //===============footer section================// */
footer{
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.contact h4{
margin-top: 15px;
height: 24px;
font-size: 16px;
font-weight: 700;
}

.contact .icon {
    align-items: center;
gap: 41px;
display: flex;
font-size: 19px;

}
.contact .icon i{
    cursor: pointer;
    font-size: 20px;
    transition: all 05s ease-in-out;
    -webkit-transition: all 05s ease-in-out;
    -moz-transition: all 05s ease-in-out;
    -ms-transition: all 05s ease-in-out;
    -o-transition: all 05s ease-in-out;
}

Footer .links {
    display: flex;
gap: 20px;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
footer .links a{color:#000;}
footer .conction_info{
gap: 16px;
}
.conction_info h6{
    font-size: 12px;
font-weight: 600;
margin-top: 10px;
}
.conction_info h6 i{font-size: 16px;}
@media (min-width: 780px) and (max-width: 1400px) {
  .conction_info h6 i{
    font-size: 12px;
  }
  footer .links{flex-direction: row !important; flex-wrap: wrap;
    justify-content: center;
  }
  footer .links a{font-size: 16px;font-weight: 6000; margin-top: 10px;
}
footer .conction_info{
}}
@media screen and (max-width: 779px) {
 footer .links{
    flex-direction: row !important;
    font-size: 12px;
 }
 footer .other_links ul a{
   font-size: 12px;
   margin-right: 10px;
    
}
}
.footer .other_links ul{
    color: #000;
    font-size: 14px;
}
.other_links ul li{
    margin-right: 40px;
}
.other_links ul a{
    color: #000;
    text-align: center;
    
    font-size: 18px;
font-style: normal;
font-weight: 500;
    
}
