 
 /* ===== Variables ===== */
:root{
    --man--bg:#D50900;
    --body--bg:#FBFBFB;
    }
 /* Global setting 
  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
a{
    text-decoration: none;
    color:#fff;
}
button,button:hover{
    background-color: var(--man--bg);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}
body,html{
    direction: rtl !important;
    overflow-x: hidden;
    font-family: cairo;
}
body{
    background-color: var(--body--bg);
}
/* =========== Classes ============== */
.seconnd-btn{
display: flex !important;
font-size: 20px;
font-weight: bold;
width: 150px;
height: 50px;
justify-content: center;
padding: 15px 0;
align-items: center;
margin-right: 15px;
}
 /* notficaton classes  */
 .not-header {
    display: flex;
    justify-content: space-between;
   }
.not-header h3{
font-size: 14px;
color: #FFF;
font-weight: 700;
text-align: right;
   }
 .not-header h3 span{
font-size: 10px;
color: #FF908C;
font-weight: 500;
   }

   .not-header img{
    width: 65.8px;
height: 14px;
   }
 .rating{
    margin-top: -7px;
   }
.rating i{font-size: 10px;}
  .rating i.complete{
    color:#FFB800;
   }
   .body{
    width: 204px;
    color: rgba(255, 255, 255, 0.60);
font-size: 8px;
font-weight: 400;
   }
 .date{
    font-size: 8px;
    font-weight: 700;
   }
    /* classe header of each section  */
 .header-section h3{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 7px;
   }
   .header-section h3::after{
    content: "";
    margin-top: 10px;
    height: 5px;
    display: block;
    background-color: var(--man--bg);
    border-radius: 5px;
}
.header-section span{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
   }
/* ======================== */
/* === top header Area ===== */
.top-header{background-color: var(--man--bg);
    overflow: hidden;
    height: 35px;
padding: 5px 0;
   
}
.top-header .container{
    display: flex;
align-items: center;

}
.top-header .container ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-header  .container li{
    margin-left: 40px;
}
.top-header li a{
    text-align: center;
font-family: Tajawal;
font-size: 14px;
font-weight: 700;
}

 /* ============ main Header Area ======== */
 .main-header{
    padding: 25px; 
    height: 85px;
    font-family: cairo;
 }
 .main-header .links li{
    margin-top: 7px;
    font-weight: bold;
    font-size: 18px;
 }
 .main-header .links ul{
    display: flex;
    height: 30px;
    align-items: center;
 }
 .main-header .links li:first-of-type{
    margin-right: 0;
 }
 .main-header .links li{
    margin-right: 20px;
 }
 .main-header .links li a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
 .main-header .links li a:hover , .main-header .links li a:active{
     display: block;
     color: var(--man--bg);
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
}
 .main-header .bar .fa-bars:before,  .main-header .bar  .fa-navicon:before {
    margin-top: 14px;
    content: "\f0c9";
    display: block;
    font-size: 20px;
    cursor: pointer;
}
.main-header .main-btn{background-color: var(--man--bg);color:#fff}
/* main header in responsive area  */
@media screen and (max-width: 1220px) {
   .seconnd-btn{
    font-size: 15px; 
    display: block;   
    padding: 10px 30px !important;
   }
  }
  .main-header  button{margin-top: -5px;}
 /* // side nav  */

 .modal-dialog{
    margin: 0;
    width: 430px !important;
 }
 @media screen and (max-width:450px) {
    .modal-dialog{
        width: 182px;
     }
 }

 .modal-content{
    height: 100vh;
    border-radius: 0;
}
.modal-header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.modal-body {
    padding-top: 120px;
    display: flex !important;
    flex-direction: column;
    background-color: var(--man--bg);
    align-content: space-between;

}
.modal-body a{
    font-size: 25px;
    margin-top: 140px !important;
}
button.btn-close{
    display: block;
    padding: 15px;
    margin-right: 150px !important;
    font-size: 20px;
}
@media screen and (max-width: 410px) {
    .modal-dialog{
        margin: 0;
        width: 350px !important;
     }
    }
/* ////// === company Description Area  */
.company_desc{
    padding: 5px;
    height: 550px;
    background: url("../assets/images/BG.png"), lightgray 0px 0px / 100% 100% no-repeat ;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .company_desc{
        height: 510px;
    }
}

.company_desc .overlay{
    padding: 5px;
    width: 100%; height: 100%;

background: #0A1D33E6;
background: linear-gradient(180deg, #0A1D33E6, #44142E);
}
.company_desc .title{
    margin-top: 88px;
    height: 174px;

}
.company_desc .title h1{
font-size: 40px;
font-weight: 700;
line-height: 163%;
}
.company_desc .title h3{
font-family: Cairo;
font-size: 24px;
font-weight: 400;
line-height: 163%;
}

/* main header in responsive area  */
@media screen and (max-width: 1220px) {
    .company_desc .title h1{
        font-size: 30px;
        font-weight: 700;
margin-bottom: 30px;
        }
   }
   @media screen and (max-width: 576px) {
    .company_desc .title{
        margin-top:79px;
    }
    .company_desc .title h1{
        font-size: 30px;
        font-weight: 700;
        width: 344px;
        }
   }

.company_desc .search{ display: flex; width: 632px; height: 55px; padding: 6px 18px 6px 7px; justify-content: space-between; align-items: center; border-radius: 12px; border: 1px solid #FFF; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px;
}
   .company_desc .search input{
    background-color: transparent;
    border:none;
    outline: none;
   font-size: 18px;
    box-shadow: none;
    color:#fff !important;
   }
 .company_desc .search input::placeholder {
    color:#fff !important;
    font-weight: bold;
    
 }
   .company_desc  .search input:focus{
    border: none;
    box-shadow: none;
   }

   .company_desc .search .btn-seach{
   display: flex;
   width: 105px;
   height: 43px;
   padding: 15px 26px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 700;
   background: var(--man--bg);

}
   .company_desc .search i{
    font-size: 20px;
    margin-left: 20px;
    width: 18px;
    height: 18px;
   }

   @media screen and (max-width: 768px) {
    .company_desc .search{
width: 330px;
height: 46px;
    }

    .company_desc .search .btn-seach{height: 36px;}
   }

    .user-notfication{
        position: fixed;
       left: 100px;
       bottom: 50px;
       padding: 20px;
       z-index: 999;
     height: 90px; width: 312px; padding: 5px 7px;
      border-radius: 154px; background: rgba(104, 104, 104, 0.9); 
      box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.50); 
      -webkit-border-radius: 154px; -moz-border-radius: 154px; 
      -ms-border-radius: 154px; -o-border-radius: 154px;
}
  .user-notfication .img{
    width: 66px;
height: 66px;

   }
 
   .user-notfication .fa-close:before, .fa-multiply:before, .fa-remove:before,
    .fa-times:before, .fa-xmark:before 
        {
    position: absolute;
    top: 35px;
    cursor: pointer;
    font-size: 17px;
    left:10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    color:var(--man--bg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .user-notfication{
        left:40px;
    }
}
   /* ///====== waring Area ////// */

   .last-warning .services{
 font-size: 16px;
 display: flex;
 width: 1086px !important;
 height: 159px;
 padding: 0px 60px;
 align-items: center;
 justify-content: end;
 gap: 87px;
 border-radius: 32px;
 background: #FFF;
 box-shadow: 0px 0px 107px 0px rgba(0, 0, 0, 0.05);
 margin-top: -133px;
 margin-right: -128px;
 margin-bottom: 40px;
 -webkit-border-radius:;
 -moz-border-radius:;
 -ms-border-radius:;
 -o-border-radius:;
}

   .services .box-service h5{
    font-size: 16px;
   }
   @media screen and (max-width: 1220px) {
.last-warning .services{
 display: flex;
 width: 368px !important;
 height: 117px;
 padding: 0px 22px;
 align-items: center;
 border-radius: 16px 0px 0px 16px;
 margin-right: -10px;
 font-size: 13px;
 gap: 5px;
 margin-top: -110px;
 justify-content: space-between;
 -webkit-border-radius: 16px 0px 0px 16px;
 -moz-border-radius: 16px 0px 0px 16px;
 -ms-border-radius: 16px 0px 0px 16px;
 -o-border-radius: 16px 0px 0px 16px;
}
.services img{
    width: 18px;
    height: 18px;
}
.services .box-service{
    display: flex;
    height: 70px;
flex-direction: column;
align-items: center;
gap: 8px;
}
.services .box-service h5{
    width: 102px;
    font-size: 13px;
}
   }

   /* // warning list section   */
   .warning-list {
    margin-bottom: 100px;
   }

   .warning-list .warning-content .box{
    padding:  10px 16px !important;
    width: 305px;
    border-radius: 12px;
    margin-top: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
   @media screen and (max-width: 986px) {
    .warning-list .warning-content .box{
    width: 345px;
    height: 370px;
    
    padding: 20px !important;
    margin: 15px auto !important;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 0px rgba(239, 219, 219, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
   }
   .warning-content .box-head .img{
    display: flex;
width: 55px;
height: 55px;
padding: 8px 7px 7px 8px;
justify-content: center;
align-items: center;
border-radius: 11px;
background: rgba(237, 237, 237, 0.50);
   }

   .warning-content .box-head .icon{
    gap: 13px;
    font-weight: 700;
font-size: 20px;
   }
   .warning-content .box-head .icon i{
color:#FFB800
   }
  .method {
    margin-top: 16px;
   }

.method h6{
    color: #595959;
font-size: 12px;
font-weight: 500;
   }
.method span{
text-align: right;
font-size: 16px;
font-weight: 400;
text-transform: capitalize;
margin-right: 7px;
   }
   .method  .line{
    width: 1px;
    display: inline-block;
   background-color: #000;
height: 7px;
 } 
 .warning-content .method  .number img {
    display: inline-block;
    margin-left: -10px;
 }
 .warning-content .method a{
    color:var(--man--bg);
font-size: 13px;
font-weight: 700;
 }
 .warning-content .method .warn-btn{
    display: flex;
    width: 137px;
    height: 43px;
    padding: 18px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 14px;
 background-color: var(--man--bg);
 }


 /* ////  ============Statistics ====== */
 .Statistics{
padding: 28px 92px 38px 92px;
background-color: var(--man--bg);
 }
 .Statistics .St-box.first{
    margin-top: 15px;
 }
 .Statistics .St-box{
     width: 200px;
     height: 90px;
     padding: 14px;
     margin-top: 15px;
     background-color: #fff;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
 @media screen and (max-width: 768px) {
    .Statistics .St-box.first{
    width: 190px !important;
height: 80px;
padding: 14px;
    }
    .Statistics .St-box{
        width: 140px;
        height: 85px;
        font-size: 13px;
        padding: 12px 5px;
    }
    .Statistics .St-box h5{font-size: 11px;}
    .Statistics .St-box svg{
        width: 18px !important;
        height: 18px !important;
    }

 }
 .Statistics .St-box h5{
    color: var(--man--bg);
    font-size: 20px;
    font-weight: 700;
 }
 .Statistics .St-box .icon{
    font-size: 14px;
font-weight: 700;
 }
 @media screen and (max-width: 488px) {
    .Statistics .St-box {
        width: 190px ;
        margin: 10px auto;
    }
 }
 /* ///// ==== comments section Area == */
 .comments .row {
    gap: 8px;
 }
.comments .user{
    width: 410px;
    height: 110px;
    color:#000;
    border-radius: 16px;
    background-color: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.comments .user .not-header h3{
    color:#000;
    font-size: 16px;
}
.comments .user .body{font-size: 10px;}
.comments .header span {cursor: pointer;}

/* //////======== instruction section ======= */
.instruction{
    padding-top: 100px;
}
.instruction .row{
    gap: 80px;
}
.instruction h5{
width: 400px;
margin-top: 50px;
color: #000;
font-size: 24px;
font-weight: 700;
line-height: 169%; /* 40.56px */
}

.instruction p{
    margin-top: 20px;
    width: 500px;
font-size: 18px;
font-weight: 500;
line-height: 227%; /* 40.86px */
}

.instruction img{
    height: 440px;
    width: 600px;
}
.instruction button{
    background-color:var(--man--bg);
    color:#fff;
    display: flex;
    width: 316px;
    height: 54px;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    border-radius: 12px;
    display: block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.instruction button:hover{background-color: var(--man--bg); color:#fff}

@media screen and (max-width: 990px) {
    .instruction{
        padding-top: 30px;
        margin: 0 auto !important;

    }
    .instruction .desc {
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .instruction .img{    
        display: flex;
        flex-direction: column;
       align-items: center;
    
      }
    .instruction img{
        width: 346px;
        height: 264px;
    }
    .instruction h5{
        align-items: center;
        width: 340px;
        font-size: 20px;
        margin-top: 15px;
    }
    .instruction p{
display: flex;
width: 344px;
height: 93px;
justify-content: start;
font-size: 14px;
margin-top: 10px;
    }
    .instruction button{
        display: block;
        margin-top: 30px;
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .instruction{
        padding-top: 30px;
    }
    .instruction img{
        width: 340px;
    height: 250px;
    }
    .instruction h5{
        align-items: center;
        width: 310px;
        font-size: 17px;
        margin-top: 15px;
    }
    .instruction p{
        margin-top: 10px;
        font-size: 18px;
        width: 360px !important;
height: 114px;
font-size: 14px;
    }
 
    .instruction button{
        display: block;
        margin-top: 20px;
    }
}

/* //========= Trusted_companies section ===== */
.Trusted_companies .box{
    padding:20px 10px;
     padding-right: 15px;
     margin-top:     20px;
     border-radius: 16px;
     border-right:4px solid  #13C636 ;
     box-shadow: 0px 4px 37px 0px rgba(242, 242, 242, 0.10);
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
}

.Trusted_companies .box .action button{
    background-color: var(--man--bg);
    border-radius: 4px;
    color: #FFF;
    display: flex;
    width: 140px;
    font-weight: 700;
    height: 34px;
    font-size: 16px;
    padding: 11px 34px 12px 32px;
    justify-content: center;
    align-items: center;

}
.Trusted_companies .box .action a{
    color:var(--man--bg);
    font-weight: 700;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--man--bg);
    font-size: 14px;
}
.Trusted_companies .box img{
    width: 104px;
height: 56px;
}
.Trusted_companies .box span{font-size: 14px;}
@media screen and (max-width: 768px) {
   .header-section h3{
        font-size: 16px;
    }
    .Trusted_companies h3{
        font-size: 20px;
        margin:  20px auto;
        }
        .Trusted_companies .box{
        margin: 10px auto !important;
            width: 370px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 4px 16px 0px rgba(242, 242, 242, 0.5);
        }
        .Trusted_companies .method{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .Trusted_companies .action{
            display: flex;
            margin-top: 10px;
            justify-content: space-between;
        }
        .Trusted_companies .action button{
            width: 131px;
            margin-left: 20px;
        }
        .Trusted_companies .action a{
            margin-top: -1px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
        @media screen and (max-width: 400px) {
            .Trusted_companies .box{width: 335px;}
            .header-section h3{
                font-size: 14px;
            }
        }
        /* /// Conpanyies articles  section ======  */
  .comp_articles .main{
 width: 304px !important;
border-radius: 12px;
background: #fff;
margin-top: 10px;
padding-bottom: 10px;
       }
  .comp_articles .main img{
    height: 190px;
    display: block;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.comp_articles .user_info{margin-top: 10px; margin-left: 5px; margin-right: 5px;}
.comp_articles .user_info h6{
    font-size: 13px;
    font-weight: 700;
}
.comp_articles .user_info h6 span{ display: flex; width: 30px; 
    font-size: 14px;
font-weight: 600;
text-transform: uppercase;
    height: 30px; border-radius: 25px; background: #A4E3FF;justify-content: center;
     padding: 10px 0px; align-items: center; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px;
}
.comp_articles .user_info span.date{
    font-family: Tajawal;
    font-size: 14px;
    font-weight: 500;
}

.comp_articles .main h4{
    font-size: 16px;
font-weight: 700;
width: 202px;
}
.comp_articles .main p{
    width: 251px;
    height: 46px;
    font-size: 12px;
    font-weight: 400;
    line-height: 167.5%; /* 16.75px */
    
}
.comp_articles .main p span{ color:var(--man--bg)}

@media screen and (max-width: 768px) {
    .comp_articles .main{
        margin: 20px auto;
    }
}

/* //===============footer section================// */
footer{
    padding-top: 80px;
    margin-bottom: 10px;
}

.contact h4{
margin-top: 15px;
height: 24px;
font-size: 16px;
font-weight: 700;
}

.contact .icon {
    align-items: center;
gap: 41px;
display: flex;
font-size: 19px;

}
.contact .icon i{
    cursor: pointer;
    font-size: 20px;
    transition: all 05s ease-in-out;
    -webkit-transition: all 05s ease-in-out;
    -moz-transition: all 05s ease-in-out;
    -ms-transition: all 05s ease-in-out;
    -o-transition: all 05s ease-in-out;
}

Footer .links {
    display: flex;
gap: 20px;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
footer .links a{color:#000;}
footer .conction_info{
gap: 16px;
}
.conction_info h6{
    font-size: 12px;
font-weight: 600;
margin-top: 10px;
}
.conction_info h6 i{font-size: 16px;}
@media (min-width: 780px) and (max-width: 1400px) {
  .conction_info h6 i{
    font-size: 12px;
  }
  footer .links{flex-direction: row !important; flex-wrap: wrap;
    justify-content: center;
  }
  footer .links a{font-size: 16px;font-weight: 6000; margin-top: 10px;
}
footer .conction_info{
}}
@media screen and (max-width: 779px) {
 footer .links{
    flex-direction: row !important;
    font-size: 12px;
 }
 footer .other_links ul a{
   font-size: 12px;
   margin-right: 10px;
    
}
}
.footer .other_links ul{
    color: #000;
    font-size: 14px;
}
.other_links ul li{
    margin-right: 40px;
}
.other_links ul a{
    color: #000;
    text-align: center;
    
    font-size: 18px;
font-style: normal;
font-weight: 500;
    
}
